body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:138px;
  width:226px;
  height:177px;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:113px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  height:30px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:30px;
  width:113px;
  height:30px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:113px;
  height:39px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:60px;
  width:113px;
  height:39px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:113px;
  height:39px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:99px;
  width:113px;
  height:39px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:113px;
  height:39px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:138px;
  width:113px;
  height:39px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:178px;
  width:74px;
  height:5px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:173px;
  width:105px;
  height:16px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:341px;
  width:99px;
  height:24px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:91px;
  width:53px;
  height:16px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:47px;
  width:222px;
  height:16px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
